*{
    margin: 0;padding: 0;
}
.container-fluid{
    text-align: center;
    padding: 3% 15% 7%;
}
#title{
    background-color: #1e1e1e;
}
/* Navbar */
.navbar{
    padding:0 0 2.5rem 0;
}
.navbar-brand:hover{
    transform: rotate(-7deg);
}
.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-size: 1.2rem;
}
.navbar-nav{
    margin-left: auto;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    margin: auto;
    padding: 0;
}
h2{
    font-family: 'Zen Dots', cursive;
    padding-bottom: 1%;
    font-size: 1rem;
}
.intro{
    padding: 10% 8% 8% 8%;
    text-align: center;
    justify-content: center;
    color: #fff;
}
.logo{
    padding: 1.5%;
}


/* About */

.about-h2 span{
    padding: 2% 0;
    text-align: left;
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 4em;
}
.about-content{
  padding: 0 4%;
}
.about-content-text-img{
    justify-content: center;
  
}
.about-content-text-img p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}
.about-content-img{
    width: 25%;
    border-radius: 100%;
    border:5px solid #1e1e1e;
    margin: 2%;
}

