*{
    margin: 0;padding: 0;
}
.container-fluid{
    text-align: center;
    padding: 3% 15% 3%;
}

#title{
    background-color: #1e1e1e;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.title-img-1{
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0%;
    /* top: 0; */
    margin-left: auto; 
    margin-right: auto; 
    z-index: 0;
    width: 100vw;
}
.title-img-2{
    display: none;
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0%;
    /* top: 0; */
    margin-left: auto; 
    margin-right: auto; 
    z-index: 0;
    width: 100vh;
}
.title-img-1 img{
    /* background-size: contain; */
    /* aspect-ratio: 16/9; */
    width: 100%;
    height: auto;
    opacity: 0.03;
}
.title-img-2 img{
    /* background-size: contain; */
    /* aspect-ratio: 16/9; */
    width: 100%;
    height: auto;
    opacity: 0.03;
}

#title .container-fluid{
    /* background-color: #0c1118; */
    padding: 3% 15% 9%;
}
/* Navbar */
.navbar{
    position: relative;
    padding:0 0 2.5rem 0;
    z-index: 1;
}
.navbar-brand:hover{
    transform: rotate(-7deg);
}
.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-size: 1.2rem;
}
.navbar-nav{
    margin-left: auto;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    margin: auto;
    padding: 0;
}
h2{
    font-family: 'Zen Dots', cursive;
    padding-bottom: 1%;
    font-size: 1rem;
}
.intro{
    position: relative;
    padding: 0% 8% 8% 8%;
    text-align: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
}
.name-2{
    display: none;
}
.logo{
    padding: 1.5%;
}


/* About */
#about-seaction{
    background-color: #fff;
}

.about-h2{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap;
    padding: 2% 0;
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}
.about-heading{
    position: relative;
}
.about-content{
  padding: 0 4%;
}

.about-content-text-img p{
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}
.about-content-img{
    width: 30%;
    border-radius: 1000px;
    border:5px solid #1e1e1e;
    margin-bottom: 2%;
}
.about-content-text{
    text-align: justify;
}

/* Education */
#edu-seaction{
    background-color: #1e1e1e;
    color: #fff;
}

.edu-h2{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap;
    padding: 2% 0;
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}
.edu-heading{
    position: relative;
}
.edu-content{
  padding: 0 4%;
}
.edu-content-text-img{
    justify-content: center;
}
.edu-content-text-img{
    padding: 2% 0;
}
.institute-name{
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    padding-top: 2%;
}
.institute-img{
    padding: 2%;
}

/* Skills */
#skills-seaction{
    background-color: #fff;
    color: #1e1e1e;
}

.skills-h2{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap;
    padding: 2% 0;
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}
.skills-heading{
    position: relative;
}
.skills-content{
  padding: 0 4%;
}
.skills-content-text-img{
    justify-content: center;
}
.skills-content-text-img h3{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1rem;
}
.skills-logo{
    padding-top: 4%;
    padding-bottom: 4%;
}

/* Projects */
#projects-seaction{
    background-color: #1e1e1e;
    color: #fff;
}
/* #projects-seaction .container-fluid{
    padding: 0% 15% 0%;
} */

.projects-h2{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap;
    padding: 2% 0;
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}
.projects-heading{
    position: relative;
}
.projects-content{
  padding: 4% 4%;
}
.projects-content-text-img{
    justify-content: center;
}
.project-content-text{
    text-align: justify;
    padding: 0 3%;
}
.projects-content-text-img h3{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1rem;
}
.projects-logo{
    padding-top: 4%;
    padding-bottom: 4%;
}
.project-content-text h2{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    padding-top:4% ;
    padding-bottom:0% ;
}
.project-content-img img{
    width: 100%;
    border-radius: 15px;
    margin: 2% 0;
}
.individual-project{
    padding: 3%;
}

/* Media Query */
@media  (max-width:1200px ) {
    .intro h1{
        font-size: 4rem;
    }
    
}
@media  (max-width:1000px) { /*Laptop*/
    .about-heading, .edu-heading, .skills-heading, .projects-heading{
        padding: 0;
        margin: 0;
        position: static;
        /* display: inline-block; */
    }
    .about-h2, .edu-h2, .skills-h2, .projects-h2{
        padding: 7% 0 0 0;
        display: inline-block;
        margin: auto;
        width:100%;
        height: 100%;
        position: static;
        text-align: center;
        font-size: 2.5em;

    }
}

@media (max-width:800px) {  /*Tablet*/
    .intro h1{
        font-size: 3.3rem;
    }
    .container-fluid{
        text-align: center;
        padding: 6% 8% 3%;
    }
    .skills-logo{
        font-size:0.8rem;
    }
    .edu-content-text-img{
        font-size: 0.8rem;
    }
    .institute-name h3{
        font-size: 1.4rem;
    }
}
@media (max-width:425px) {
    .name-2{
        display: block;
    }
    .name{
        display: none;
    }
    .intro h1{
        font-size: 3.5rem;
        padding-top: 5%;
    }
    .intro {
        padding: 0;
    }
    .container-fluid{
        text-align: center;
        padding: 10% 5% 3%;
    }
    .navbar-brand{
        visibility: hidden;
    }
    .intro h2{
        font-size: 0.7rem;
    }
    .about-content-img{
        border: 2px solid #1e1e1e;
        width: 40%;
    }
    .about-content-text-img p{
        font-size: 1.2rem;
    }
    .edu-content-text-img{
        font-size: 0.5rem;
    }
    .institute-name h3{
        font-size: 1rem;
    }
    .skills-logo{
        font-size:0.5rem;
    }
    .project-content-text h2{
        font-size: 2.5rem;
    }
    .project-content-text p{
        justify-content: start;
        font-size: 0.9rem;
    }

}
@media (max-width:630px) {
    .title-img-1{
        display: none;
    }
    .title-img-2{
        display: inline;
    }
    
}

::-webkit-scrollbar {
    width: 0px;
}

.timeline {
    position: relative;
    max-width: 100%;
    margin: 10% auto;
    font-family: 'Kanit', sans-serif;
    color: #1e1e1e;
    font-size: 1.5rem;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .cont {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .cont::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 20px;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    color: #000;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .cont {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .cont::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
